.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.emailInput{
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
}

.message_input_form{
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: whitesmoke;
  width: 90%;
  margin: 20px;
}

.message_input_formControl {
  display: flex !important;
  flex-direction: row !important;
}

.send_message_button {
  margin: 10px !important;
  flex: 0;
}

.message_input_specific {
  flex: 1;
}

.logOut_button {
  margin: 10px !important;
  flex: 0;
}